# Assignment 10

<font size = "5">
Print your name below

In [20]:
print("Susu Zhao")

Susu Zhao

<font size = "5">

Import pandas package

In [21]:
import pandas as pd

<font size = "5">

Import SQL packages

In [22]:
# Write your answer here:


from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, you can leave out the database argument.

Note: You may have to change some of the login details <br>
depending on your computer

In [23]:
# Write your answer here:

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    username = 'postgres',
    port = 5432,
    password  = '12345')
connection = create_engine(url_server)


<font size = "5">

(a) Upload dataset to SQL

<font size = "3">

- Read the files ```wdi_2018-2023.xlsx``` in the ```data_raw``` folder. <br>
This is a file containing data from the world development indicators for <br>
2018-2023.
- Upload the data to your local SQL server using the <br>
"to_sql" command. Call the new dataset ```wdi_data```
 in the server

In [24]:
# Write your own code

wdi_data  = pd.read_excel("data_raw/wdi_2018-2023.xlsx")
wdi_data.to_sql('wdi_data',
               con = connection,
               if_exists='replace',
               index=False)

578


<font size = "5">

(b) Subset and sort

<font size = "3">

For the following command use ```pd.read_sql()```

- Use ```WHERE``` to get a subset of "wdi_data" in the SQL server to  <br>
which only selects entries related to the USA, <br>
using the column "country_code"
- Chain this with ```ORDER BY year``` to sort in <br>
ascending order <br>

Hints:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command <br>
without any additional escape characters

In [29]:
# Write your answer here:
wdi_USA = pd.read_sql(text("SELECT * \
                             FROM wdi_data \
                             WHERE country_code = 'USA'\
                             ORDER BY year;"), connection)

wdi_USA

   year   country_name country_code  prop_urban
0  2018  United States          USA      82.256
1  2019  United States          USA      82.459
2  2020  United States          USA      82.664
3  2021  United States          USA      82.873
4  2022  United States          USA      83.084
5  2023  United States          USA      83.298

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

For the following command use ```pd.read_sql()```

- From ```wdi_data``` obtain the average of "prop_urban" <br>
by country_name using ```GROUP BY```
- Use ```HAVING ``` to filter countries with an <br>
average proportion of urban population greater than 40%
- Make sure to separate pieces of your logic over seperate lines  by a ```\```

HINT: Use ```HAVING AVG(prop_urban)``` rather than an alias <br>
for the code to work correctly.

In [26]:
# Write your answer here:
avg_prop_urban = pd.read_sql(text("SELECT AVG(prop_urban) as mean_prop \
                             FROM wdi_data \
                             GROUP BY \"country_name\" \
                             HAVING AVG(prop_urban) > 40;"), connection)

avg_prop_urban

      mean_prop
0     78.396333
1     76.095333
2     91.548000
3     43.381773
4     88.097333
..          ...
201   57.499667
202  100.000000
203   73.314833
204   46.440167
205   87.900833

[206 rows x 1 columns]

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

(1) Run a query using ```pd.read_sql()```
- From ```wdi_data```, obtain the average, minimum, and maximum <br>
of "prop_urban" by "year" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "avg_prop_urban"
- Make sure to separate pieces of your logic over seperate lines  by a ```\```
- Store the output as a pandas object called ```wdi_grouped```

(2) Upload
- Reupload the result to the server as ```wdi_grouped_data``` using ```to_sql```

In [27]:
# Write your own code
wdi_grouped_data = pd.read_sql(text("SELECT year," \
"                                   AVG(prop_urban) AS average, \
                                    MIN(prop_urban) AS minimum, \
                                    MAX(prop_urban) AS maximum \
                             FROM wdi_data \
                             GROUP BY \"year\" \
                             ORDER BY average;"), connection)

wdi_grouped_data.to_sql('wdi_grouped_data',
               con = connection,
               if_exists='replace',
               index=False)

wdi_grouped_data

   year    average  minimum  maximum
0  2018  59.732829   13.032    100.0
1  2019  60.054119   13.250    100.0
2  2020  60.379627   13.345    100.0
3  2021  60.707990   13.456    100.0
4  2022  61.041838   13.582    100.0
5  2023  61.379119   13.723    100.0

<font size = "5">

(e) Merge

<font size = "3">

This question depends on your answer to question (d).

For the following command use ```pd.read_sql()```

- From ```wdi_data```, ```LEFT JOIN``` the dataset ```wdi_grouped_data``` <br>
using ```year``` as a merging variable. 
- Hint: See Lecture on SQL for how to merge datasets

In [28]:
# Write your own code
wdi_merged = pd.read_sql(text("SELECT wdi_data.*, \
                                     wdi_grouped_data.average, \
                                     wdi_grouped_data.minimum, \
                                     wdi_grouped_data.maximum \
                              FROM wdi_data \
                              LEFT JOIN wdi_grouped_data \
                              ON wdi_data.year = wdi_grouped_data.year;"), connection)
wdi_merged

,year,country_name,country_code,prop_urban,average,minimum,maximum
0,2018,Aruba,ABW,43.411000,59.732829,13.032,100.0
1,2018,Africa Eastern and Southern,AFE,35.893398,59.732829,13.032,100.0
2,2018,Afghanistan,AFG,25.495000,59.732829,13.032,100.0
3,2018,Africa Western and Central,AFW,46.709753,59.732829,13.032,100.0
4,2018,Angola,AGO,65.514000,59.732829,13.032,100.0
...,...,...,...,...,...,...,...
1573,2023,Samoa,WSM,17.508000,61.379119,13.723,100.0
1574,2023,"Yemen, Rep.",YEM,39.831000,61.379119,13.723,100.0
1575,2023,South Africa,ZAF,68.819000,61.379119,13.723,100.0
1576,2023,Zambia,ZMB,46.335000,61.379119,13.723,100.0
1577,2023,Zimbabwe,ZWE,32.517000,61.379119,13.723,100.0